# ignore everything unless explicitly disabled
/*

# git-specific
!.gitignore

# common
!symlinks.sh
!LICENSE

# WezTerm
!.wezterm.lua

# Warp
!.warp/themes/*

# Helix Editor
!.config/helix/*
.config/helix/runtime
